<html>
  <head>
    <title>MAVLink2Rest</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="app" style="display: flex column-gap: 1em">
      <div style="display: flex column-gap: 1em">
        <div>
          <div v-if="info">
            <div v-once>
              {{info.service.name}} - {{info.service.version}} -
              {{info.service.sha.substring(0, 7)}} - {{info.service.build_date.substring(0, 10)}}<br/>
              By: {{formatAuthors(info.service.authors)}}<br />
              Check the <a href="v1/mavlink">mavlink path</a> for the data<br />
              You can also check nested paths:
              <a href="v1/mavlink/vehicles/1/components/1/messages/HEARTBEAT/message/mavtype/type"
                >mavlink/vehicles/{system_id}/components/{component_id}/messages/HEARTBEAT/message/mavtype/type</a
              ><br /> <br />

              <a href="watcher.html">Watcher</a>
              is a helper tool where you can check message information in real time.</br>
              You can use the query parameter 'path' to visualize specific information, like:
              <a href="watcher.html?path=mavlink/vehicles/1/components/1/messages/HEARTBEAT/message/mavtype/type">
                watcher.html?path=mavlink/vehicles/1/components/1/messages/HEARTBEAT/message/mavtype/type
              </a><br/><br/>
            </div>
          </div>

          <label>List of available paths:</label>
          <ul v-if="data && data.vehicles">
            <li
              v-for="(vehicle, vehicle_id) in data.vehicles"
              :key="vehicle_id"
            >
              <div>
                <a
                  v-bind:href="'mavlink/vehicles/' + vehicle_id"
                >
                  Vehicle ID: {{vehicle_id}}
                <a/>
              </div>
              <ul v-if="vehicle && vehicle.components">
                <li
                  v-for="(component, component_id) in vehicle.components"
                  :key="component_id"
                >
                  <a
                    v-bind:href="'v1/mavlink/vehicles/' + vehicle_id + '/components/' + component_id"
                  >
                    Component ID: {{component_id}}
                  <a/>
                  <ul v-if="component && component.messages">
                    <li
                      v-for="(message, message_name) in sort_dict(component.messages)"
                      :key="message_name"
                    >
                      <div>
                        <a
                          v-bind:href="'v1/mavlink/vehicles/' + vehicle_id + '/components/' + component_id + '/messages/' + message_name"
                        >
                          {{message_name}}
                        </a>

                        ({{message.status.time.frequency ? message.status.time.frequency.toFixed(2) : 0}}Hz - last
                        update
                        {{formatLastTime(message.status.time.last_update)}}s
                        ago)

                        <a
                          v-bind:href="'watcher.html?path=mavlink/vehicles/' + vehicle_id + '/components/' + component_id + '/messages/' + message_name"
                        >watcher</a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="vue.global.js"></script>
    <script>
      /*global Vue*/
      const app = Vue.createApp({
        mounted () {
          this.requestData()

          fetch('info').then(
            function (response) {
              response.json().then((info) => this.info = info)
            }.bind(this),
          )
        },
        methods: {
          sort_dict (dict) {
            return Object.keys(dict).sort().reduce((tempDict, key) => (tempDict[key] = dict[key], tempDict), {});
          },
          formatAuthors (authors) {
            const formatted = authors.split(':').map((author) => {
              console.log(`author: ${author}`)
              const {
                groups: { name },
              } = /(?<name>.*) <.*>/gm.exec(author)
              return name
            })
            return formatted.join(', ')
          },
          formatLastTime (lastMessage) {
            return ((Date.now() - Date.parse(lastMessage)) / 1000).toFixed(3)
          },
          async requestData () {
            setTimeout(
              function () {
                fetch('v1/mavlink').then(
                  function (response) {
                    response.json().then((data) => this.data = data)
                  }.bind(this),
                )
                this.requestData()
              }.bind(this),
              500,
            )
          },
        },
        data () {
          return {
            data: undefined,
            info: undefined,
          }
        },
      })

      app.mount('#app')
    </script>
  </body>
</html>
